html, body {
    padding: 0;
    margin: 0;
    font-family: MyFont, serif;
}

:root{
    --accent-green: #76d28a;
    --accent-dark: #1fa23a;
    --muted-green: #dff8e8;
    --border: rgba(0,0,0,0.12);
    --row-bg: #ffffff;
    --table-bg: #f6fbfa;
    --header-green: #c9f3d7;
    --left-green: #8fdf9e;
    --left-green-darker:#3fb96a;
    font-family: MyFont, serif;
}

.banner{
    width: 100dvmax;
    height: 200px;
    background-color: #6fb353;
}

.banner h1{
    padding-top: 30px;
    color: #ffffff;
    text-align: center;
    font-size: xxx-large;
}
.banner hr{
    color: #ffffff;
    width: 10%;
}
.objective{
    top:0;
    padding-top: 50px;
}
.objective p{
    font-weight: bold;
    color: #7A7A7A;
    text-align: center;
    text-shadow: 2px 2px 4px #f48810;
}
.container{
    display: flex;
    justify-content: space-between;
    color = #ffffff;
}

.left{
    display: block;
    align-items: left;
    margin-left: 20px;

}
.left h3{
    color: #042069;
    align-items: left;
    font-size: 30px;
    margin-top: 200px;
    margin-left: 10px;
}

.left h5{
    font: MyFont;
    color: #005566;
    font-size: 30px;
    margin-left: 10px;
}

.left h6{
    font: MyFont;
    color: #ffffff;
    font-size: 20px;
}
.left h7{
    font: MyFont;
    color: #ffffff;
    font-size: 16px;

}

.left button{
    display: flex;
    font: MyFont;
    background-color: #00A8E0;
    color: #ffffff;
    justify-content: left;
    align-items: center;
    max-width: 200px;
    max-height: 50px;
    margin: 10px;
    text-align: left;
}

.filter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.sort{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.right{
    justify-content: end;
    margin-top: 50px;
    margin-right: 100px;
    float: right;
}
.table, td {
    color: #000000;
    border: 1px groove #38E078;
}

.thead{
    background-color: #38E078;
}

.th0{
    width: 50px;
    background-color: #38E078;
}

.th1{
    width: 380px;
    text-align: left;
}
.th2{
    width: 100px;
}

.numRow{
    background-color: #27C840;
    font-size: 30px;
    text-align: center;
}

td{
    text-align: left;
}

.viewButton{
    background-color: #C0C6C8;
}

.Hospital{
    font-size: 25px;
}

.Grade{
    text-align: center;
}

